*{
    margin: 0;
  }
  
  .main-ul{
    list-style-type: none;
  }
  
  .main-li{
    border: 2px solid white;
    border-radius: 5px;
    padding: 60px 100px;
    margin: 20px auto;
  }
  
  body.sign-in, body.sign-up{
    background-image: url('../images/helping-hands-1.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    font-size: 30px;
  }
  
  .sign-in input, .sign-up input{
  
     display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 300px;
    border-radius: 5px;
  }
  
  .main-li .button{
    float: right;
  }
  
  .button{
    height: 50px;
    width: 100px;
    border-radius: 6px;
    background-color: white;
    color: teal;
  }
  
  .hours{
    padding: 20px 50px; 
  }
  
  .opportunity h1{
    margin: auto;
    padding: 20px;
  }
  
  .opportunity p{
    padding: 30px;
    margin: auto 50px;
  }
  
  body.opportunity{
    background-image: url('../images/children.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    font-size: 30px;
  }