<!DOCTYPE html>
<html>
  <head>
    <title>BisonHacks Submission</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{{url_for("static", filename="css/style.css")}}'>
  </head>
  <body class="opportunity">
    <br><br><br><br>
    <div class="opportunity">
      <center><h1> {{opp['name']}} </h1></center>
      <p> Organized by {{opp['planner']}} </p>
      <p> When: {{opp['date']}} | Time: {{opp['time']}} | Where: {{opp['location']}} </p>
      <p> Description: {{opp['description']}} </p>
    </div>
    <form method='POST' action='/update'>
      <input type='hidden' value={{user_email}} name='email'>
      <input type='hidden' value={{oppId}} name='oppId'>
      <center>
        <input type='submit' value='Register' class='button'>
      </center>
    </form>
  </body>
</html>


