<!DOCTYPE html>
<html>
  <head>
    <title>BisonHacks Submission</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{{url_for("static", filename="css/style.css")}}'>
  </head>
  <body>
    
    
    <h1> {{opp['name']}} </h1>
    
    <p> Description: {{opp['description']}} </p>
    <p> Organized by {{opp['planner']}} </p>
    <p> When: {{opp['date']}} </p>
    <p> Time: {{opp['time']}} </p>
    <p> Where: {{opp['location']}} </p>
    <form method='POST' action='/update'>
      <input type='hidden' value={{user_email}} name='email'>
      <input type='hidden' value={{oppId}} name='oppId'>
      <input type='submit' value='Register' class='button'>
    </form>
  </body>
</html>


